
nav {
    text-align: center;
    border: none;
    height: 40px;
    background-color: #00007f; 
    
}

.navElement {
    display: inline;
    margin: 0 15px;
    text-decoration: none; 
    color: #ffffff;
} 
body {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal; 
    background-color: #00004c;
  } 

#lew1{
    word-spacing: 5px; 
    letter-spacing: 5px; 
    font-weight: 900; 
    border: inset 5px;
    border-color: blue;
    border-radius: 15%;
    padding: 5px 5px ; 
    text-align: center; 
    color: #ffffff;
    
} 

.vid{
    text-align: center; 
}  

.TR1{
    letter-spacing: 5px;
    font-weight: 900;
    color: #ffffff;
    border: solid blue; 
    padding: 5px 5px;
    border-radius: 15%;
} 

#cv1{
    color: #ffffff; 
    letter-spacing: 5px; 
    font-weight: 900;
    border: groove blue;
    padding: 5px 5px;
    border-radius: 15%;
} 

.form0{
    color: #ffffff;
    border: none;
    padding: 5px 5px ;
    
}